@import 'tailwindcss';
@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../vendor/bezhansalleh/filament-panel-switch/resources/views/**/*.blade.php';
@source '../../../../app/Filament/User/**/*';
@source '../../../../resources/views/filament/user/**/*';
@source '../../../../vendor/laraveldaily/filawidgets/resources/views/**/*';


/* .fi-topbar {
    @apply !bg-inherit ring-0 shadow-none;

}

.fi-sidebar-header {
    @apply !bg-inherit ring-0 shadow-none;

} */

.fi-btn[class*="fi-color-"]:is([class*="fi-bg-color-"]) {
    background-color: var(--color-600) !important;
    color: white !important;
}

.fi-btn[class*="fi-color-"]:hover:is([class*="fi-bg-color-"]) {
    background-color: var(--color-500) !important;
    color: white !important;
}

.fi-btn[class*="fi-color-"]:is([class*="fi-bg-color-"]) svg {
    color: inherit !important;
}
@source '../../../../vendor/diogogpinto/filament-auth-ui-enhancer/resources/**/*.blade.php';